<!-- 
                                    <input
                                        type="file"
                                      
                                     
                                        accept="image/*"
                                        multiple
                                        (change)="onSelectFile($event)"
                                        
                                      />


    <button data-toggle="modal" data-target="#exampleModal">hi</button>
    <div>
 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-body">
     <ngb-carousel  >
  <ng-template ngbSlide  *ngFor="let list of mydata;let i = index">
    <div class="picsum-img-wrapper">
      <img [src]="list.url" alt="Random first slide" width="100px" height="100px">
    </div>   
  </ng-template>   
</ngb-carousel>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div> -->
<div   id="jnjnvnfj" >helo directive dash
  <p id="1" >Element  id=1</p>
 <p id="2" >Element  id=2</p>
  <p id="3" >Element  id=3</p>
   <p id="4" >Element  id=4</p>
   <button class="btn btn-success"  id='hi'>hello id=hi</button>
    <p id="5" >Element  id=5</p>
     <p id="6" >Element  id=6</p>
      <p id="7" >Element  id=7</p>


<div  id='hia'>helo directive customer</div>
<form  #form=ngForm>
   <input type="text" name="hi" [ngModel]=hur  id='input'>
 <input type="file" name='hello' [ngModel]=hry  id='input'>
<button type='submit' class="btn btn-primary"  ngSubmit='onsubmit(form)'>submit</button></form>
</div>

<span *ngIf="asyncTracker.active">Loading...</span>
    <!-- <button *ngIf="!asyncTracker.active" (click)="save()">Save</button> -->
  

<div >

<h1> MediaRecorder API example</h1>

    <p> For now it is supported only in Firefox(v25+) and Chrome(v47+)</p>
    <div id='gUMArea'>
      <div>
      Record:
        <input type="radio" name="media" value="video" checked id='mediaVideo'>Video
        <input type="radio" name="media" value="audio">audio
      </div>
      <button class="btn btn-primary" (click)='gUMbtnn()' id='gUMbtn'>Request Stream</button>
    </div>
    <div id='btns'>
      <button  class="btn btn-primary" (click)='starth()' id='start'>Start</button>
      <button class="btn btn-primary" (click)='stopl()' id='stop'>Stop</button>
    </div>
    <div>
      <form  #form=ngForm id=count (change)=onsun(form)>
      <ul   id='ull'> </ul>
      <!-- <input type="text" name="" id='ul'>
      <a [href]='hekkk' id='ul'></a> -->
    <button class="btn btn-primary" (change)=onsun(form) type='submit'>sub</button>
    </form>
    </div></div>
    