/* 
.carousel{
    width: 450px;
    height: 200px;
}

.carousel .img-video-div{    
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.img-video-div video, .img-video-div img{
    height: 100%;
    width: auto;
}

.carousel .carousel-control{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  top: 40%;
}
p {
  font-family: Lato;
} */

*{
    padding: 0px;
    margin: 0px;
   box-sizing: border-box;
}
.car-slide{
    display: flex;
    width: auto;
    height: 500px;
}
.carl-con{
    width: 60%;
    margin: auto;
        border: 5px solid  black;

}
button{
        margin: 10px 5px;
      }
      li{
        margin: 10px;
      }
      body{
        width: 90%;
        max-width: 960px;
        margin: 0px auto;
      }
      #btns{
        display: none;
      }
      h1{
        margin: 100px;
      }