<div class="container">
<div appDirect>
<div  class="container" style="margin-top: 50px; text-align: center;">
  <div  *ngFor="let d of data | slice: startIndex:endIndex" >
    <div id={{d.id}}  class="col-md-12" style="text-align: center; display: block;" id={{d.id}}>
      <p style="font-size: 15px; font-weight: bolder;">
        <img src="{{ d.thumbnailUrl }}" alt="" />
      </p>
      <p style="font-size: 15px; font-weight: bolder;">
        Name:<span style="font-size: 15px; font-weight: normal;">
          {{ d.title }}</span
        >
      </p>

      <p style="font-size: 15px; font-weight: bolder;">
        Id:<span style="font-size: 15px; font-weight: normal;">{{ d.id }}</span>
      </p>
      <br /><br />
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
     
      <li *ngFor="let item of getArray(data); let in = index" class="page-item">
        <a id={{in}} class="page-link" (click)="updateIndex(in)" href="#">{{ in + 1 }}</a>
      </li>

     
    </ul>
  </nav>
</div>


<!-- <a routerLink=" ">Home</a> -->
<router-outlet></router-outlet>
<a routerLink="cost">customers</a></div>
<div *ngFor="let d of dataa">
    {{d._id}}<br>
    {{d.id}}<br>
    {{d.name}}<br>
     {{d.email}}<br>
    {{d.file}}<br>
    <button class="btn btn-danger" (click)="delet(d)">delete</button>


</div>
</div>